In [1]:
liste1 = [1,2,3,4,5,6,7]
liste2 = [8,9,10]
liste1.extend(liste2)

In [3]:
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
liste2

[8, 9, 10]

In [5]:
liste1.extend([11,12,13])

In [6]:
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [7]:
liste1.extend("ekleme")

In [8]:
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 'e', 'k', 'l', 'e', 'm', 'e']

In [14]:
liste1.extend((False , True,0, "para"))

In [10]:
liste1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 'e',
 'k',
 'l',
 'e',
 'm',
 'e',
 False,
 True,
 0,
 'para']

In [12]:
liste1.append(20)

In [15]:
liste1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 'e',
 'k',
 'l',
 'e',
 'm',
 'e',
 False,
 True,
 0,
 'para',
 20,
 False,
 True,
 0,
 'para']

In [17]:
liste = ["apple","banana","orange"]
liste_1 = ["apple","banana","orange"]
"***".join(liste) + "---" + "***".join(liste_1)

'apple***banana***orange---apple***banana***orange'

In [19]:
a = ["apple","banana"]
b = ["cherry","kiwi"]

a = b
print(a,b, end="\n")

['cherry', 'kiwi'] ['cherry', 'kiwi']

In [20]:
b.insert(2,"strawbrry")
print(b)

['cherry', 'kiwi', 'strawbrry']

In [21]:
print(a)

['cherry', 'kiwi', 'strawbrry']

In [37]:
c = ["ali","veli","deli"]
d = ["zeynep","nihal","defne"]
d = c.copy()


print(c , d, sep="\n")

['ali', 'veli', 'deli']
['ali', 'veli', 'deli']

In [38]:
d.insert(2,"ayşe")
print(d)
print(c)

['ali', 'veli', 'ayşe', 'deli']
['ali', 'veli', 'deli']

In [40]:
liste = [20,30,5,47,0,-20,-1997]
liste.sort()
liste

[-1997, -20, 0, 5, 20, 30, 47]

In [52]:
liste1 = ["ali","veli","deli","ayşe","fatma"]
liste1.sort()
liste1

['ali', 'ayşe', 'deli', 'fatma', 'veli']

In [53]:
liste1.append("ayten")
liste1.sort()
liste1

['ali', 'ayten', 'ayşe', 'deli', 'fatma', 'veli']

In [54]:
liste1[2] = "ayse"
liste1.sort()
liste1

['ali', 'ayse', 'ayten', 'deli', 'fatma', 'veli']

In [55]:
liste1.sort(reverse=True)
liste1

['veli', 'fatma', 'deli', 'ayten', 'ayse', 'ali']

In [56]:
liste1.reverse()
liste1

['ali', 'ayse', 'ayten', 'deli', 'fatma', 'veli']

In [57]:
liste2 = [1,5000,5689,5060]
max(liste2)

5689

In [58]:
min(liste2)

1

In [59]:
print(max(liste1))
print(min(liste1))

veli
ali

In [60]:
liste1.append("ayten")
liste1.count("ayten")

2

In [61]:
type(liste1.count("ayten"))

int

In [64]:
ord("G")

71

In [65]:
chr(117)

'u'

In [66]:
chr(1)

'\x01'

In [68]:
ogrenciler = ["ahmet","ayşe","mehmet"]
numaralar  = [150,160,170]
print(numaralar[ogrenciler.index("ayşe")])

160

## 2-Tuples

In [69]:
()

()

In [70]:
tuple()

()

In [71]:
tuple("buraya metin yazıyorum")

('b',
 'u',
 'r',
 'a',
 'y',
 'a',
 ' ',
 'm',
 'e',
 't',
 'i',
 'n',
 ' ',
 'y',
 'a',
 'z',
 'ı',
 'y',
 'o',
 'r',
 'u',
 'm')

In [73]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [74]:
a = (1,2,3,4)
type(a)

tuple

In [75]:
a = ("ahmet")
type(a)

str

In [76]:
a = ("ahmet",)
type(a)

tuple

In [77]:
"ahmet" , "mehmet"

('ahmet', 'mehmet')

In [78]:
5,14

(5, 14)

In [79]:
5.14

5.14

In [80]:
type((5,14))

tuple

In [81]:
"ahmet","mehmet" + "zeynep"

('ahmet', 'mehmetzeynep')

In [82]:
"ahmet" + "mehmet","zeynep"

('ahmetmehmet', 'zeynep')

In [83]:
("ahmet","mehmet") + "zeynep"

TypeError: can only concatenate tuple (not "str") to tuple

In [84]:
("ahmet","mehmet") + ("zeynep","fatma") + ("ayşe","kaan")

('ahmet', 'mehmet', 'zeynep', 'fatma', 'ayşe', 'kaan')

In [85]:
a = ("banana", "grape", "cherry")
b = list(a)
b[0] = "apple"
a = tuple(b)

In [86]:
a

('apple', 'grape', 'cherry')

In [89]:
message = tuple("Hello World, I'm a friend".split())
message

('Hello', 'World,', "I'm", 'a', 'friend')

In [90]:
print(message[0:2])

('Hello', 'World,')

In [91]:
print(message[:2])

('Hello', 'World,')

In [92]:
print(message[-3:-1])

("I'm", 'a')

In [93]:
message

('Hello', 'World,', "I'm", 'a', 'friend')

In [96]:
print(message[-4: :2])

('World,', 'a')

In [99]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [101]:
tuple(range(1,20,5))

(1, 6, 11, 16)

In [102]:
tuple(range(20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [104]:
tuple(range(0,20,5))

(0, 5, 10, 15)

In [105]:
list(range(0,20,5))

[0, 5, 10, 15]

In [107]:
tuples = (1,2,3,4, True,False,5.6,(2,3,5),[7,8,9])
tuples

(1, 2, 3, 4, True, False, 5.6, (2, 3, 5), [7, 8, 9])

In [108]:
len(tuples)

9

In [114]:
tuples[8][0]

7

In [115]:
tuples.count(2)

1

In [120]:
tuples.insert(5,6)

AttributeError: 'tuple' object has no attribute 'insert'

In [121]:
tuples.index(5.6)

6

In [122]:
tuoles.sort()

NameError: name 'tuoles' is not defined

In [123]:
sorted(tuples)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [124]:
tuple2 = (25,69,88,125,96,1)
sorted(tuple2)

[1, 25, 69, 88, 96, 125]

In [125]:
type(sorted(tuple2))

list

In [126]:
type([1, 25, 69, 88, 96, 125])

list

In [127]:
tuple(sorted(tuple2))

(1, 25, 69, 88, 96, 125)

In [128]:
del tuples
tuples

NameError: name 'tuples' is not defined

In [129]:
a = tuple(range(10))
tuple(sorted(a, reverse=1))

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [130]:
b = (20,200,65,7,9,6,1998)
b = sorted(b)
tuple(b)

(6, 7, 9, 20, 65, 200, 1998)

## dictionaries

In [134]:
dict()

{}

In [136]:
sozluk = dict(birinci ="first",ikinci="second")
sozluk

{'birinci': 'first', 'ikinci': 'second'}

In [137]:
personel = {"adi": "mehmet", "soyadi": "keser","yaşi": 30 }

In [138]:
personel

{'adi': 'mehmet', 'soyadi': 'keser', 'yaşi': 30}

In [139]:
personel.items()

dict_items([('adi', 'mehmet'), ('soyadi', 'keser'), ('yaşi', 30)])

In [140]:
type(personel.items())

dict_items

In [141]:
personel.keys()

dict_keys(['adi', 'soyadi', 'yaşi'])

In [142]:
personel.values()

dict_values(['mehmet', 'keser', 30])

In [143]:
type(personel.keys())

dict_keys

In [145]:
type(personel.values())

dict_values

In [146]:
personel

{'adi': 'mehmet', 'soyadi': 'keser', 'yaşi': 30}

In [149]:
personel["soyadi"]

'keser'

In [150]:
x = personel["yaşi"]

In [151]:
x

30

In [158]:
kişi = dict({"adi": "ali","soyadı": "kaya"}, yaşi = 24)
print(kişi)

{'adi': 'ali', 'soyadı': 'kaya', 'yaşi': 24}

In [159]:
ogrenci = {
    "numara": "150",
    "ad": "ali",
    "soyad": "kaya"
}

print(ogrenci["numara"])
print(ogrenci["ad"])
print(ogrenci["soyad"])

150
ali
kaya

In [160]:
numara = ogrenci.get("numara")
ad = ogrenci.get("ad")
soyad = ogrenci.get("soyad")

print(numara,ad ,soyad)

150 ali kaya

In [166]:
ogrenci["cinsiyet"] = "E"
ogrenci

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'cinsiyet': 'E'}

In [168]:
ogrenci.clear()
ogrenci

{}

In [169]:
del ogrenci

In [170]:
print(ogrenci)

NameError: name 'ogrenci' is not defined

In [171]:
ogrenci = {
    "numara": "150",
    "ad": "ali",
    "soyad": "kaya"
}

ogrenci.popitem()
print(ogrenci)

{'numara': '150', 'ad': 'ali'}

In [172]:
ogrenci = {
    "numara": "150",
    "ad": "ali",
    "soyad": "kaya"
}

ogrenci_2 = ogrenci

ogrenci_2

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya'}

In [173]:
ogrenci_2["memeleket"] = "ankara"
ogrenci_2

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memeleket': 'ankara'}

In [174]:
print(ogrenci)

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memeleket': 'ankara'}

In [175]:
ogrenci_3 = ogrenci_2.copy()
ogrenci_3["yaş"] = 25 
print(ogrenci)
print(ogrenci_2)
print(ogrenci_3)

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memeleket': 'ankara'}
{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memeleket': 'ankara'}
{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memeleket': 'ankara', 'yaş': 25}

In [176]:
sayilar = ("birinci","ikinci","üçüncü")
değer = 0 
new_dict = dict.fromkeys(sayilar, değer)

In [177]:
new_dict

{'birinci': 0, 'ikinci': 0, 'üçüncü': 0}

In [178]:
sayilar = ("birinci", "ikinci", "üçüncü")
deger = (0, 1, 2)
new_dict = dict.fromkeys(sayilar, deger)
new_dict

{'birinci': (0, 1, 2), 'ikinci': (0, 1, 2), 'üçüncü': (0, 1, 2)}

In [179]:
sayilar = ("birinci", "ikinci", "üçüncü")
new_dict = dict.fromkeys(sayilar)
new_dict

{'birinci': None, 'ikinci': None, 'üçüncü': None}

In [184]:
users = {
    "user1": {
        "age": 36,
        "roles": ["user"],
        "email": "user1@gmail.com",
        "address": "istanbul" ,
        "phone": "3547365",
    }
    "user2" : {
        "age": 29,
        "roles": ["user"],
        "email": "user2@gmail.com",
        "address": "ankara" ,
        "phone": "4565521",
    }
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (204922154.py, line 2)

In [186]:
personel = {}
number = input("personel no:")
name = input("personel adi:")
surname = input("personel soyadi:")
phone = input("personel telefonu:")

personel.update({
    "no": number,
    "isim": name,
    "soyisim":surname,
    "tel": phone
})
print(personel)

{'no': '056', 'isim': 'furkan', 'soyisim': 'soylu', 'tel': '0565988789'}

In [187]:
personel = {"user1": {}, "user2": {}}

number = input("personel no:")
name = input("personel adi:")
surname = input("personel soyadi:")
phone = input("personel telefonu:")

personel["user1"].update({
    "no": number,
    "isim": name,
    "soyisim": surname,
    "tel": phone
})

number = input("personel no:")
name = input("personel adi:")
surname = input("personel soyadi:")
phone = input("personel telefonu:")

personel["user2"].update({
    "no": number,
    "isim": name,
    "soyisim": surname,
    "tel": phone
})

print(personel)

{'user1': {'no': '169', 'isim': 'furkan', 'soyisim': 'soylu', 'tel': '05453955843'}, 'user2': {'no': '980', 'isim': 'eylül  elif', 'soyisim': 'ayhan', 'tel': '05648998745'}}