## format & f-string

In [3]:
name = "Ahmet"
surname = "Altın"
age = 35 

greeting = "My name is " + name + " " + surname + " and \nI'm " + str(age) + " years old." 
print(greeting)

My name is Ahmet Altın and
I'm 35 years old.

In [4]:
name = "Ahmet"
surname = "Altın"
age = 35 

print("My name is {} {} and \nI'm {} years old.".format(name, surname, age))

My name is Ahmet Altın and
I'm 35 years old.

In [6]:
name = "Ahmet"
surname = "Altın"
age = 35 

print("My name is {1} {2} and \nI'm {0} years old.".format(age, name, surname))

My name is Ahmet Altın and
I'm 35 years old.

In [9]:
name = "Ahmet"
surname = "Altın"
age = 35 

print("My name is {2} {1} and \nI'm {0} years old.".format(age, surname, name))

My name is Ahmet Altın and
I'm 35 years old.

In [11]:
name = "Ahmet"
surname = "Altın"
age = 35

print("My name is {n} {s} and \nI'm {a} years old.".format(a=age, n=name, s=surname))

My name is Ahmet Altın and
I'm 35 years old.

In [14]:
str_1 = "{2}, {1} and {0}".format("a", "b", "c")
str_2 = "{0}{1}{0}".format("abra", "cad")

print(str_1, str_2, sep="\n")

c, b and a
abracadabra

In [15]:
name = "Ahmet"
surname = "Altın"
age = 35

print(f"My name is {name} {surname} and\nI'm {age} years old.")

My name is Ahmet Altın and
I'm 35 years old.

In [17]:
print(greeting)

My name is Ahmet Altın and
I'm 35 years old.

In [18]:
len(greeting)

45

In [19]:
print(len(greeting))

45

In [20]:
sonuç = greeting[5:26:2]

In [21]:
sonuç

'm sAmtAtnad'

In [22]:
sonuç = greeting[-5:-25:-5]

In [23]:
sonuç

' ymd'

In [24]:
sonuç = greeting[0:]
print(sonuç)

My name is Ahmet Altın and
I'm 35 years old.

In [25]:
print(*greeting, sep="_")

M_y_ _n_a_m_e_ _i_s_ _A_h_m_e_t_ _A_l_t_ı_n_ _a_n_d_ _
_I_'_m_ _3_5_ _y_e_a_r_s_ _o_l_d_.

## **string** methods

In [27]:
print(greeting.upper())

MY NAME IS AHMET ALTIN AND
I'M 35 YEARS OLD.

In [28]:
print(greeting.upper().lower())

my name is ahmet altin and
i'm 35 years old.

In [32]:
print("bu yazıyı fark etmenizle".upper(),
      "FARK ETMENİZin,".lower(),
      "hiç bir şey fark etmediğini".capitalize(),
      "fARK eDECEKSİNİZ.".title(),
      sep="\n")

BU YAZIYI FARK ETMENIZLE
fark etmeni̇zin,
Hiç bir şey fark etmediğini
Fark Edeceksi̇ni̇z.

In [34]:
print("Çekoslavakyalılaştıramadıklarımızdan mısınız?"
      .replace("e", "a")
      .replace("o", "ö")
      .replace("ı", "_")
      .title()
      .split("_"))

['Çaköslavakyal', 'Laşt', 'Ramad', 'Klar', 'M', 'Zdan M', 'S', 'N', 'Z?']

In [35]:
str_1 = "Techpro is the best course in the world"
print(str_1.swapcase())

tECHPRO IS THE BEST COURSE IN THE WORLD

In [36]:
str_1 = "Techpro is the best course in the world"
print(*str_1.swapcase())

t E C H P R O   I S   T H E   B E S T   C O U R S E   I N   T H E   W O R L D

In [37]:
print(str_1.split("e", maxsplit=3))

['T', 'chpro is th', ' b', 'st course in the world']

In [39]:
print(*str_1.split("h"),sep="☺\n")

Tec☺
pro is t☺
e best course in t☺
e world

In [42]:
print(str_1.strip("d").strip("T").strip("k"))

echpro is the best course in the worl

In [43]:
print(str_1.replace(" ", " - ").join("*\n*"))

*Techpro - is - the - best - course - in - the - world
Techpro - is - the - best - course - in - the - world*

In [44]:
len(str_1)

39

In [45]:
print(str_1.center(50, "*"))

*****Techpro is the best course in the world******

In [46]:
print(str_1.ljust(50, "*"))

Techpro is the best course in the world***********

In [47]:
print(str_1.rjust(50, "*"))

***********Techpro is the best course in the world

In [48]:
str_2 = str_1.center(45, "*").center(50, "%").ljust(55, "!").rjust(60,"+")

In [49]:
str_2

'+++++%%***Techpro is the best course in the world***%%%!!!!!'

In [50]:
str_2 = str_2.strip("%!+*")

In [51]:
str_2

'Techpro is the best course in the world'

In [52]:
str_2 = str_2.strip("T")

In [53]:
str_2

'echpro is the best course in the world'

In [56]:
str_2 = str_2.strip(5)
print(str_2)

TypeError: strip arg must be None or str

# **is/elif/else

In [59]:
x = 20 
if  x > 25:
    print("sayı 25'ten büyüktür")
elif x < 15:
    pribt("sayı 15 ten küçüktür")    
else: 
    print("sayı 15 ile 25 arasındadır.")

sayı 15 ile 25 arasındadır.

In [65]:
x = int(input("bir sayı giriniz:"))
print(f"Girdiğiniz sayı {x} ve ", end="")

if  x >= 25:
    print("sayı 25'ten büyüktür")
elif x <= 15:
    pribt("sayı 15 ten küçüktür")    
else: 
    print("sayı 15 ile 25 arasındadır.")

Girdiğiniz sayı 50 ve sayı 25'ten büyüktür

In [75]:
ad = input("Adınızı giriniz:")
yas = int(input("Yaşınızı giriniz:"))
eğitim = input("Eğitim durumunuzu giriniz:").lower()

if  yas >= 18 and eğitim == "lise" or eğitim == "üniversite":
    print(f"{ad}, yaşınız {yas} ve eğitim düzeyiniz {eğitim} olduğundan ehliyet alabilirsiniz.")
else :
    print(f"{ad} ehliyet almak için uygun kriterlere sahip değilsiniz! ")

furkan, yaşınız 18 ve eğitim düzeyiniz lise olduğundan ehliyet alabilirsiniz.

In [98]:
name = input("İsminizi giriniz :")
yazili1 = float(input("İlk yazılınızı giriniz :"))
yazili2 = float(input("İkinci yazılınızı giriniz :"))
sozlu1 = float(input("Sözlünüzü giriniz :"))
yazili1 

ortalama = (yazili1 + yazili2 + sozlu1 ) / 3


if (ortalama >= 0) and (ortalama <= 24):
    print(f"Ortalamanız sıfır")
elif (ortalama >= 25) and (ortalama <= 44):
    print(f"Ortalamanız bir")
elif (ortalama >= 45) and (ortalama <= 54):
    print(f"Ortalamanız iki")
elif (ortalama >= 55) and (ortalama <= 69):
    print(f"Ortalamanız üç")
elif (ortalama >= 70) and (ortalama <= 84):
    print(f"Ortalamanız dört")
elif (ortalama >= 85) and (ortalama <= 100):
    print(f"Ortalamanız beş")
else:
    print("Muhtemelen yanlış bilgi girdiniz tekrar deneyiniz.")

Ortalamanız beş

In [80]:
sayi = int(input("Bir sayı giriniz:"))
if sayi % 2:
    print("Sayı tek sayıdır.")
else:
    print("Sayı çift sayıdır.")

Sayı tek sayıdır.

## **Python Collection Types (Arrsy)**
## lists, tuples, dictionaries,sets

### 1 - lists

In [81]:
liste1= []
liste1

[]

In [82]:
type(liste1)

list

In [83]:
print(type(liste1))

<class 'list'>

In [84]:
liste2 = list("alivelideli")
liste2

['a', 'l', 'i', 'v', 'e', 'l', 'i', 'd', 'e', 'l', 'i']

In [85]:
liste3 = list(1256, "ali" ,False)

TypeError: list expected at most 1 argument, got 3

In [86]:
liste3 = list(False)

TypeError: 'bool' object is not iterable

In [88]:
liste3 = list([1,2,3,4,5])
liste3

[1, 2, 3, 4, 5]

In [91]:
liste4 = list([1,2,3,4,5],[6,7,8],[9,10])
liste4

TypeError: list expected at most 1 argument, got 3

In [92]:
yazili1 = int(input("Birinci yazılı notunu gir: "))
yazili2 = int(input("İkinci yazılı notunu gir: "))

ortalama = (yazili1 + yazili2) / 2

if ortalama >= 85:
    notu=5
elif ortalama >= 70:
    notu=4
elif ortalama >= 55:
    notu=3
elif ortalama >= 45:
    notu=2
elif ortalama >= 25:
    notu=1
else:
     notu=0
print("Ortalamanız:", ortalama)
print("notunuz:", notu)

Ortalamanız: 110.0
notunuz: 5

In [100]:
yazili1 = int(input("Birinci yazılı notunu gir: "))
yazili2 = int(input("İkinci yazılı notunu gir: "))
sozlu = int(input("Birinci yazılı notunu gir: "))


ortalama = (yazili1 + yazili2 +sozlu) / 3
    
if ortalama >= 85:
    notu=5
elif ortalama >= 70:
    notu=4
elif ortalama >= 55:
    notu=3
elif ortalama >= 45:
    notu=2
elif ortalama >= 25:
    notu=1
elif ortalama >= 25:
    notu=0
else:
    notu="hata"
if yazili1<0 or yazili2<0 or sozlu<0 or yazili1>100 or yazili2>100 or sozlu>100:
    notu="hata"
print("Ortalamanız:", ortalama)
print("notunuz:", notu)

Ortalamanız: 101.33333333333333
notunuz: hata

In [ ]:
101