# Dictionaries

In [1]:
dict()
{}

{}

In [3]:
dict_1 = {"key1":"value1","key2" : "value2","key3":"value3"}
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [4]:
len(dict_1)

3

In [5]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [6]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [7]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [8]:
dict_1["key1"]

'value1'

In [9]:
dict_2 = {1 : "one", 2 : "two", 3 : "theree"}

In [10]:
dict_2

{1: 'one', 2: 'two', 3: 'theree'}

In [12]:
dict_2[1] # buradaki 1 index numarası değil key dir.

'one'

In [13]:
dict_3 = {False : 0, True : 1}

In [14]:
dict_3

{False: 0, True: 1}

In [15]:
dict_4 = {3.14 : "pi_number", 3.5 : "other_number"}
dict_4

{3.14: 'pi_number', 3.5: 'other_number'}

In [16]:
dict_5 = {[1,2,3,] : "liste_1"}
dict_5

TypeError: unhashable type: 'list'

In [18]:
dict_6 = { {3.14 : " pi_number"} : "liste_1"}
dict_6

TypeError: unhashable type: 'dict'

In [19]:
dict_7 = {(1,2,3) : "tuple_1"}
dict_7

{(1, 2, 3): 'tuple_1'}

In [20]:
dict_8 = {"öğrenci" : ["saffet",32,"python"]}

In [21]:
dict_8

{'öğrenci': ['saffet', 32, 'python']}

In [23]:
dict(one = 1,two = 2)

{'one': 1, 'two': 2}

In [26]:
dict(1 = "bir", 2 = "iki")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1282726608.py, line 1)

In [27]:

dict_9 = {"friend_1" : "Ali", "friend_2" : "Fırat", "friend_3" : "Mustafa"}

In [28]:
dict_9

{'friend_1': 'Ali', 'friend_2': 'Fırat', 'friend_3': 'Mustafa'}

In [29]:
dict_9["friend_4"] = "Furkan"
dict_9

{'friend_1': 'Ali',
 'friend_2': 'Fırat',
 'friend_3': 'Mustafa',
 'friend_4': 'Furkan'}

In [31]:
{"name": "selma", "age": 26 , "job": "data_scientist", "name": "Taha"}

{'name': 'Taha', 'age': 26, 'job': 'data_scientist'}

In [32]:
dict_9["friend_5"]= "Furkan"

In [33]:
dict_9

{'friend_1': 'Ali',
 'friend_2': 'Fırat',
 'friend_3': 'Mustafa',
 'friend_4': 'Furkan',
 'friend_5': 'Furkan'}

In [34]:
person_info = {"name" : ["saffet","ismail","hilal"], "age" : [32,25,30]}
person_info

{'name': ['saffet', 'ismail', 'hilal'], 'age': [32, 25, 30]}

In [35]:
person_info.items()

dict_items([('name', ['saffet', 'ismail', 'hilal']), ('age', [32, 25, 30])])

In [36]:
type(person_info)

dict

In [41]:
print(type(person_info))

<class 'dict'>

In [42]:
person_info.keys()

dict_keys(['name', 'age'])

In [43]:
person_info.values()

dict_values([['saffet', 'ismail', 'hilal'], [32, 25, 30]])

In [44]:
person_info["name"]

['saffet', 'ismail', 'hilal']

In [45]:
person_info["name"].append("Furkan")

In [46]:
person_info

{'name': ['saffet', 'ismail', 'hilal', 'Furkan'], 'age': [32, 25, 30]}

In [64]:
sayılar = {"tek_sayılar" : [], "çift_sayılar":[]}

In [63]:
sayılar

{'tek_sayılar': ['0,1,3,5,7,9'], 'çift_sayılar': [range(0, 10, 2)]}

In [61]:
sayılar["tek_sayılar"].append("0,1,3,5,7,9")

In [56]:

sayılar["çift_sayılar"].append("0,2,4,6,8")

In [62]:
sayılar["çift_sayılar"].append(range(0,10,2))

In [65]:
sayılar

{'tek_sayılar': [], 'çift_sayılar': []}

In [67]:
sayılar["tek_sayılar"] = list(range(1,10,2))
sayılar

{'tek_sayılar': [1, 3, 5, 7, 9], 'çift_sayılar': []}

In [71]:
sayılar["çift_sayılar"] = list(range(0,10,2))
sayılar

{'tek_sayılar': [1, 3, 5, 7, 9], 'çift_sayılar': [0, 2, 4, 6, 8]}

## update()

In [73]:
dict_4 = {1 : "one", 2 : "two", 3 : "three"}
dict_4

{1: 'one', 2: 'two', 3: 'three'}

In [74]:
dict_4.update({5 : "five"})

In [75]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 5: 'five'}

In [96]:
dict_4.update({6 : "six", 7 : "seven"})

## clear()

In [79]:
dict_2.clear()

In [80]:
dict_2

{}

## pop()

In [97]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 5: 'five', 6: 'six', 7: 'seven'}

In [98]:
dict_4.pop()

TypeError: pop expected at least 1 argument, got 0

In [99]:
dict_4.pop(8)

KeyError: 8

In [100]:
dict_4.pop(7)

'seven'

In [101]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 5: 'five', 6: 'six'}

## get()

In [103]:
dict_4.get(2)

'two'

In [104]:
dict_4.get(5)

'five'

## nested dicts

In [106]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [107]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [108]:
myfamily.items()

dict_items([('child1', {'name': 'Emil', 'year': 2004}), ('child2', {'name': 'Tobias', 'year': 2007}), ('child3', {'name': 'Linus', 'year': 2011})])

In [109]:
myfamily.get("child1")

{'name': 'Emil', 'year': 2004}

In [110]:
myfamily.get("child1").get("name")

'Emil'

In [111]:
myfamily.get("child1").update({"sex": "male"})

In [112]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004, 'sex': 'male'},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

## in , not in

In [115]:
"e" in "hello"

True

In [116]:
"e" not in "hello"

False

In [114]:
"a" in "hello"

False

In [117]:
"a" not in "hello"

True

In [118]:
1 in [1,2,3,4,5]

True

In [119]:
dict_4

{1: 'one', 2: 'two', 3: 'three', 5: 'five', 6: 'six'}

In [124]:
1 in dict_4 # in operatörü dict lerde keyleri sorgular

True

In [125]:
"one" in dict_4

False

In [126]:
"one" in dict_4.values()

True

In [127]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004, 'sex': 'male'},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [128]:
"child1" in myfamily

True

In [129]:
"name" in myfamily

False