
# TUPLES

In [31]:
# TUPLE OLUŞTURMA YÖNTEMLERİ 
tuple()
()

()

In [32]:
tuple("Techpo education")

('T',
 'e',
 'c',
 'h',
 'p',
 'o',
 ' ',
 'e',
 'd',
 'u',
 'c',
 'a',
 't',
 'i',
 'o',
 'n')

In [33]:
print(tuple("Techpo education"))

('T', 'e', 'c', 'h', 'p', 'o', ' ', 'e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n')

In [34]:
name = "techpo"

In [35]:
tuple(name)

('t', 'e', 'c', 'h', 'p', 'o')

In [36]:
tuple_1 = tuple("pınar")

In [37]:
tuple_1

('p', 'ı', 'n', 'a', 'r')

In [38]:
type(tuple_1)

tuple

In [39]:

print(type(tuple_1))

<class 'tuple'>

In [41]:
tuple(1453)

TypeError: 'int' object is not iterable

In [42]:
tuple((1,2,3))

(1, 2, 3)

In [43]:
["techpro"]

['techpro']

In [44]:
type(["techpro"])

list

In [45]:
("techpro")

'techpro'

In [46]:
type(("techpro"))

str

In [47]:
("techpro",)

('techpro',)

In [48]:
type(("techpro",))

tuple

In [49]:
3,14

(3, 14)

In [50]:
len(("techpro",))

1

In [51]:
tuple_2 = 1,"techpro", True

In [52]:
tuple_2

(1, 'techpro', True)

In [53]:
type(tuple_2)

tuple

In [54]:
name_1 = "furkan"

In [55]:
name_2, name_3 = "furkan","yusuf","aybüke"

ValueError: too many values to unpack (expected 2)

In [56]:
name_4 = "furkan", "yusuf"

In [57]:
name_4

('furkan', 'yusuf')

In [58]:
name_5 = "yahya",

In [59]:
name_5

('yahya',)

In [60]:
("ahmet", "mehmet") + ("ismail",)

('ahmet', 'mehmet', 'ismail')

In [61]:
("ahmet", "mehmet") * 2

('ahmet', 'mehmet', 'ahmet', 'mehmet')

### indexing

In [62]:
tuple_3 = ('ahmet', 'mehmet', 'ismail')
tuple_3

('ahmet', 'mehmet', 'ismail')

In [63]:
tuple_3[0]

'ahmet'

In [64]:
tuple_3[0][0]

'a'

In [65]:
tuple_3[0] = "faruk"

TypeError: 'tuple' object does not support item assignment

In [66]:
"ali", "mehmet" + "ali"

('ali', 'mehmetali')

In [67]:
("ali","mehmet") + "zeki"

TypeError: can only concatenate tuple (not "str") to tuple

In [68]:
("ali","mehmet") + ("zeki",)

('ali', 'mehmet', 'zeki')

In [69]:
tuple(("dede",))

('dede',)

In [70]:
tuple(("dede","mama"))

('dede', 'mama')

In [71]:
"dede",

('dede',)

In [72]:
list(("dede",))

['dede']

In [73]:
list("dede",)

['d', 'e', 'd', 'e']

## range()

In [74]:
range(4,15)

range(4, 15)

In [75]:
tuple(range(4,15))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [76]:
tuple(range(3,15,2))

(3, 5, 7, 9, 11, 13)

In [77]:
tuple(range(3,15,-1))

()

In [78]:
tuple(range(15,3,-1))

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4)

In [79]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [80]:
tuple(range(-5,10))

(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [81]:
range(-5,10)[0]

-5

In [82]:
list(range(20,9,-2))

[20, 18, 16, 14, 12, 10]

In [83]:
potpori = (3,4.5, False ,[1,2,3],(4,5,6),"Halil")
potpori

(3, 4.5, False, [1, 2, 3], (4, 5, 6), 'Halil')

In [84]:
potpori[3]

[1, 2, 3]

In [85]:
potpori

(3, 4.5, False, [1, 2, 3], (4, 5, 6), 'Halil')

In [86]:
potpori[3].append(4)

In [87]:
potpori

(3, 4.5, False, [1, 2, 3, 4], (4, 5, 6), 'Halil')

In [88]:
tuple_2

(1, 'techpro', True)

In [89]:
del tuple_2

In [90]:
tuple_2

NameError: name 'tuple_2' is not defined

# immutable

In [93]:
potpori

(3, 4.5, False, [1, 2, 3, 4], (4, 5, 6), 'Halil')

In [94]:
potpori.index(3)

0

In [95]:
potpori.index(4.5)

1

In [96]:
[1,2,3,4,"techpro"].index("techpro")

4

In [98]:
(1,2,3,2,4,5,3).index(2)

1

In [99]:
(1,2,3,2,4,5,3).count(2)

2

In [101]:
x = input("Birinci sayı giriniz")
y = input("İkinci sayıyı giriniz")

x = int(x)
y = int(y)
toplam = x + y 
print("sonuç",toplam)

ValueError: invalid literal for int() with base 10: '5.2'

In [106]:
nesne_1=input("lutfen bir metin ya da tamsayi giriniz")
nesne_2=input("lutfen bir daha metin ya da tamsayi giriniz")
if nesne_1.isnumeric() and nesne_2.isnumeric() :
 print(int(nesne_1)+int(nesne_2))
else :
 print("Girilen deger rakam olmadigi icin toplama islemi gerceklesmedi")

Girilen deger rakam olmadigi icin toplama islemi gerceklesmedi