## zip()

In [1]:
a = ["apple", "orange","lemon"] 
b = [1,2,3]

In [2]:
zip(a,b)

In [3]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [4]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [5]:
x = "techpro"
y = "enes"
z = "ali"

In [6]:
list(zip(x,y,z))

[('t', 'e', 'a'), ('e', 'n', 'l'), ('c', 'e', 'i')]

In [7]:
list(zip("techpro", [1,2,3,4], []))

[]

In [8]:
list(zip("techpro"," [1,2,3,4], []"))

[('t', ' '),
 ('e', '['),
 ('c', '1'),
 ('h', ','),
 ('p', '2'),
 ('r', ','),
 ('o', '3')]

In [9]:
name = ["murat", "enes", "koray"]
age  = [35,25,23]
job  = ["data_analyst","python_developer","data_scientist"]

In [11]:
for i , j , k in zip(name,age,job):
    print(i,j,k,sep="+")

murat+35+data_analyst
enes+25+python_developer
koray+23+data_scientist

In [12]:
for i,j,k in zip(name,age,job):
    print(f"{i:<10}{j:<5}{k:<15}")

murat     35   data_analyst
enes      25   python_developer
koray     23   data_scientist

In [17]:
print(list(zip(name,age,job)))

[('murat', 35, 'data_analyst'), ('enes', 25, 'python_developer'), ('koray', 23, 'data_scientist')]

In [19]:
for i in zip(name,age,job):
    print(i)

('murat', 35, 'data_analyst')
('enes', 25, 'python_developer')
('koray', 23, 'data_scientist')

In [30]:
liste_1 = ["techpro", "education"] * 10
len(liste_1)

20

In [31]:
list(zip(range(1,101), liste_1))

[(1, 'techpro'),
 (2, 'education'),
 (3, 'techpro'),
 (4, 'education'),
 (5, 'techpro'),
 (6, 'education'),
 (7, 'techpro'),
 (8, 'education'),
 (9, 'techpro'),
 (10, 'education'),
 (11, 'techpro'),
 (12, 'education'),
 (13, 'techpro'),
 (14, 'education'),
 (15, 'techpro'),
 (16, 'education'),
 (17, 'techpro'),
 (18, 'education'),
 (19, 'techpro'),
 (20, 'education')]

## enumerate()

In [24]:
a

['apple', 'orange', 'lemon']

In [25]:
enumerate(a)

In [26]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'lemon')]

In [32]:
list(enumerate(liste_1))

[(0, 'techpro'),
 (1, 'education'),
 (2, 'techpro'),
 (3, 'education'),
 (4, 'techpro'),
 (5, 'education'),
 (6, 'techpro'),
 (7, 'education'),
 (8, 'techpro'),
 (9, 'education'),
 (10, 'techpro'),
 (11, 'education'),
 (12, 'techpro'),
 (13, 'education'),
 (14, 'techpro'),
 (15, 'education'),
 (16, 'techpro'),
 (17, 'education'),
 (18, 'techpro'),
 (19, 'education')]

In [33]:
list(enumerate(liste_1,1))

[(1, 'techpro'),
 (2, 'education'),
 (3, 'techpro'),
 (4, 'education'),
 (5, 'techpro'),
 (6, 'education'),
 (7, 'techpro'),
 (8, 'education'),
 (9, 'techpro'),
 (10, 'education'),
 (11, 'techpro'),
 (12, 'education'),
 (13, 'techpro'),
 (14, 'education'),
 (15, 'techpro'),
 (16, 'education'),
 (17, 'techpro'),
 (18, 'education'),
 (19, 'techpro'),
 (20, 'education')]

In [34]:
set(zip(a,b))

{('apple', 1), ('lemon', 3), ('orange', 2)}

In [35]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [36]:
dict(zip(a,b)).values()

dict_values([1, 2, 3])

In [37]:
dict(zip(a,b)).keys()

dict_keys(['apple', 'orange', 'lemon'])

In [49]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [39]:
min(num)

5

In [40]:
max(num)

55

In [45]:
list(enumerate(num))

[(0, 48),
 (1, 10),
 (2, 11),
 (3, 21),
 (4, 36),
 (5, 5),
 (6, 6),
 (7, 52),
 (8, 28),
 (9, 29),
 (10, 53),
 (11, 54),
 (12, 45),
 (13, 19),
 (14, 20),
 (15, 47),
 (16, 55),
 (17, 39),
 (18, 41),
 (19, 7),
 (20, 9),
 (21, 17),
 (22, 26),
 (23, 27),
 (24, 42),
 (25, 22),
 (26, 37),
 (27, 51),
 (28, 46),
 (29, 18),
 (30, 44),
 (31, 30),
 (32, 34),
 (33, 13),
 (34, 15),
 (35, 35),
 (36, 33),
 (37, 16),
 (38, 50),
 (39, 24)]

In [46]:
for i in range(min(num),max(num)+1):
    if i not in num:
        print(i)

8
12
14
23
25
31
32
38
40
43
49

In [47]:
x=range(min(num),max(num))
list(x)
set(x).difference(set(num))

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [51]:
empty_list = []

for i in range(min(num),max(num)):
    
    if i not in num:
        empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [54]:
empty_list = []

for i in range(min(num),max(num)):
    
    if i  in num:
        continue       
    empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [59]:
full_list = set(range(min(num),max(num)+1))
num_set = set(num)


full_list - num_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [60]:
set(range(min(num),max(num)+1)) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [63]:
liste_0 = [1,4,8,25,96,88,44,75,36,27,24,15]

In [64]:
liste_2 = [1,2,3,4,5,6]

In [75]:
new = []
for i in liste_2:
    if i % 2 == 0:
        print(i ** 2)
    elif i % 2 !=0:
        print(i)

1
4
3
16
5
36

In [77]:
new = []
for i in liste_2:
    if i % 2 == 0:
        new.append(i ** 2)
    elif i % 2 !=0:
        new.append(i)
print(new)

[1, 4, 3, 16, 5, 36]

# List Comprehension

In [82]:
liste_3 = [1,2,3,4,5]
empty_list = []
for i in liste_3:
    empty_list.append(i**2)
print(empty_list)

[1, 4, 9, 16, 25]

In [83]:
[ i ** 2      for i in liste_3      ]

[1, 4, 9, 16, 25]

In [84]:
[ i ** 2      for i in liste_3      ]

[1, 4, 9, 16, 25]

In [85]:
liste_4 = ["renault*","fiat?!","ford?!"]
liste_4

['renault*', 'fiat?!', 'ford?!']

In [92]:
new_list = []
for i in liste_4:
    new_list.append(i.replace("*","").replace("?","").replace("!",""))
print(new_list)

['renault', 'fiat', 'ford']

In [91]:
[i.replace("*","").replace("?","").replace("!","") for i in liste_4 ]

['renault', 'fiat', 'ford']

## nested loops

In [96]:
for i in ["ömer","eren","furkan"]:
      for j in [1,2,3,4,5]:
          print(i,j)

ömer 1
ömer 2
ömer 3
ömer 4
ömer 5
eren 1
eren 2
eren 3
eren 4
eren 5
furkan 1
furkan 2
furkan 3
furkan 4
furkan 5

In [98]:
for i in ["ömer","eren","furkan"]:
      for j in [1,2,3,4,5]:
          print(i,j)
      print("iç döngü sonu") 
print("tüm döngülerin sonu")

ömer 1
ömer 2
ömer 3
ömer 4
ömer 5
iç döngü sonu
eren 1
eren 2
eren 3
eren 4
eren 5
iç döngü sonu
furkan 1
furkan 2
furkan 3
furkan 4
furkan 5
iç döngü sonu
tüm döngülerin sonu

In [99]:
for i in range(1,2):
    for j in range(0,11):
        print(f"{i} x {j} = (i * j)")

1 x 0 = (i * j)
1 x 1 = (i * j)
1 x 2 = (i * j)
1 x 3 = (i * j)
1 x 4 = (i * j)
1 x 5 = (i * j)
1 x 6 = (i * j)
1 x 7 = (i * j)
1 x 8 = (i * j)
1 x 9 = (i * j)
1 x 10 = (i * j)

In [102]:
for i in [1,2]:
    for j in ["Cumali","Sibel"]:
        for k in ["*****"]:
                  print(i,j,k)
print("inşallah kafalar karışmamıştır")

1 Cumali *****
1 Sibel *****
2 Cumali *****
2 Sibel *****
inşallah kafalar karışmamıştır

In [9]:
x =range(10,10000)
len_ = len(x)
toplam = 0
for i in x:
    
    toplam += i ** len_
    
if toplam == x:
    print(f"Girdiğiniz sayı: {x} Armstrong bir sayıdır. ")

In [15]:
for i in range(10, 10000):
    x = str(i)

    num= len(x)

    toplam = 0

    for y in x:
        toplam += int(y) ** num
    if toplam == i:
        print("Girdiginiz Sayi {} Armstrong bir sayidir".format(x))

Girdiginiz Sayi 153 Armstrong bir sayidir
Girdiginiz Sayi 370 Armstrong bir sayidir
Girdiginiz Sayi 371 Armstrong bir sayidir
Girdiginiz Sayi 407 Armstrong bir sayidir
Girdiginiz Sayi 1634 Armstrong bir sayidir
Girdiginiz Sayi 8208 Armstrong bir sayidir
Girdiginiz Sayi 9474 Armstrong bir sayidir

In [ ]:
for i in range(10, 1000):
    sayi = str(i)

    digit = len(sayi)

    total = 0

    for x in sayi:
        total += int(x) ** digit
    if total == i:
        print("Girdiginiz Sayi {} Armstrong bir sayidir".format(sayi))