
## Data Types

In [9]:
"Hello world" # str

'Hello world'

In [10]:
print(type("Furkan"))

<class 'str'>

In [11]:
type("sedat")

str

In [12]:
type("3")

str

In [13]:
type(3)

int

In [14]:
age = 32

In [15]:
type(age)

int

In [18]:
type(3.14)

float

In [19]:
pi_number = "3.14"

In [20]:
type(pi_number)

str

In [21]:
type(False)

bool

In [22]:
type(True)

bool

In [23]:
type(false)

NameError: name 'false' is not defined

In [26]:
type(pi_number,age)

TypeError: type() takes 1 or 3 arguments

In [27]:
type(pi_number)
type(age)

int

In [28]:
print(type(pi_number))
print(type(age))

<class 'str'>
<class 'int'>

# Type Conversion

## all types to str

In [35]:
age = 32

In [29]:
str(age)

'32'

In [30]:
convarted_age = str(age)
convarted_age

'32'

In [31]:
convarted_age = str(age)
print(convarted_age)

32

In [33]:
convarted_age = str(age)
print(convarted_age)
print(type(convarted_age))

32
<class 'str'>

In [36]:
pi_number = 3.14 
type(pi_number)

float

In [37]:
str(pi_number)

'3.14'

In [40]:
converted_pi_number = str(pi_number)
converted_pi_number

'3.14'

In [41]:
x = False 
y = True

In [42]:
str(x)

'False'

In [43]:
str(y)

'True'

## str to int ot float

In [44]:
say覺_1 = "35"
say覺_2 = "otuz"

In [45]:
int(say覺_1)

35

In [46]:
type(int(say覺_1))

int

In [47]:
int(say覺_2)

ValueError: invalid literal for int() with base 10: 'otuz'

In [48]:
say覺_3 = "3.14 "
say覺_4 = "3,14 "
say覺_5 = "羹癟noktaond繹rt"

In [49]:
float(say覺_3)

3.14

In [50]:
type(float(say覺_3))

float

In [51]:
float(say覺_4)

ValueError: could not convert string to float: '3,14 '

In [52]:
float(say覺_5)

ValueError: could not convert string to float: '羹癟noktaond繹rt'

In [54]:
type(1,11)

TypeError: type() takes 1 or 3 arguments

## float to int  or int to float

In [59]:
say覺_6 = 24 
say覺_7 = 5.9
print(type(say覺_6))
print(type(say覺_7))

<class 'int'>
<class 'float'>

In [56]:
float(say覺_6)

24.0

In [60]:
int(say覺_7)

5

## Bool to int or float

In [63]:
x = False
y = True
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [64]:
int(x)

0

In [65]:
int(y)

1

In [66]:
float(x)

0.0

In [67]:
float(y)

1.0

In [70]:
z = "apple","banana"

In [71]:
jan,march,may,jul,august,oct,dec =31,31,31,31,31,31,31
feb=28
apr,jun,sep,nov=30,30,30,30
print(jan,feb,march,apr,may,jun,jul,august,sep,oct,nov,dec)

31 28 31 30 31 30 31 31 30 31 30 31