
# TUPLES

In [1]:
# TUPLE OLUŞTURMA YÖNTEMLERİ 
tuple()
()

()

In [3]:
tuple("Techpo education")

('T',
 'e',
 'c',
 'h',
 'p',
 'o',
 ' ',
 'e',
 'd',
 'u',
 'c',
 'a',
 't',
 'i',
 'o',
 'n')

In [4]:
print(tuple("Techpo education"))

('T', 'e', 'c', 'h', 'p', 'o', ' ', 'e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n')

In [5]:
name = "techpo"

In [6]:
tuple(name)

('t', 'e', 'c', 'h', 'p', 'o')

In [7]:
tuple_1 = tuple("pınar")

In [8]:
tuple_1

('p', 'ı', 'n', 'a', 'r')

In [9]:
type(tuple_1)

tuple

In [10]:

print(type(tuple_1))

<class 'tuple'>

In [11]:
tuple(1453)

TypeError: 'int' object is not iterable

In [12]:
tuple((1,2,3))

(1, 2, 3)

In [13]:
["techpro"]

['techpro']

In [14]:
type(["techpro"])

list

In [15]:
("techpro")

'techpro'

In [21]:
type(("techpro"))

str

In [17]:
("techpro",)

('techpro',)

In [22]:
type(("techpro",))

tuple

In [23]:
3,14

(3, 14)

In [24]:
len(("techpro",))

1

In [25]:
tuple_2 = 1,"techpro", True

In [26]:
tuple_2

(1, 'techpro', True)

In [27]:
type(tuple_2)

tuple

In [34]:
name_1 = "furkan"

In [29]:
name_2, name_3 = "furkan","yusuf","aybüke"

ValueError: too many values to unpack (expected 2)

In [30]:
name_4 = "furkan", "yusuf"

In [31]:
name_4

('furkan', 'yusuf')

In [32]:
name_5 = "yahya",

In [33]:
name_5

('yahya',)

In [35]:
("ahmet", "mehmet") + ("ismail",)

('ahmet', 'mehmet', 'ismail')

In [36]:
("ahmet", "mehmet") * 2

('ahmet', 'mehmet', 'ahmet', 'mehmet')

### indexing

In [37]:
tuple_3 = ('ahmet', 'mehmet', 'ismail')
tuple_3

('ahmet', 'mehmet', 'ismail')

In [38]:
tuple_3[0]

'ahmet'

In [39]:
tuple_3[0][0]

'a'

In [40]:
tuple_3[0] = "faruk"

TypeError: 'tuple' object does not support item assignment

In [1]:
"ali", "mehmet" + "ali"

('ali', 'mehmetali')

In [2]:
("ali","mehmet") + "zeki"

TypeError: can only concatenate tuple (not "str") to tuple

In [4]:
("ali","mehmet") + ("zeki",)

('ali', 'mehmet', 'zeki')

In [6]:
tuple(("dede",))

('dede',)

In [7]:
tuple(("dede","mama"))

('dede', 'mama')

In [9]:
"dede",

('dede',)

In [10]:
list(("dede",))

['dede']

In [11]:
list("dede",)

['d', 'e', 'd', 'e']

## range()

In [13]:
range(4,15)

range(4, 15)

In [14]:
tuple(range(4,15))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [15]:
tuple(range(3,15,2))

(3, 5, 7, 9, 11, 13)

In [16]:
tuple(range(3,15,-1))

()

In [17]:
tuple(range(15,3,-1))

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4)

In [18]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
tuple(range(-5,10))

(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
range(-5,10)[0]

-5